<%= form_for @profile do |f| %>
  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div>
    <%= f.label :website_url, 'Website (Company or Blog)' %>
    <%= f.text_field :website_url %>
  </div>

  <div>
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

  <div>
    <%= f.label :status, 'Developer or Designer?' %>
    <%= f.check_box :status %>
  </div>

  <div id='github-form-field'>
    <%= f.label :github_username %>
    <%= f.text_field :github_username %>
  </div>

  <div>
    <%= f.label :linkedin_username %>
    <%= f.text_field :linkedin_username %>
  </div>

  <div>
    <%= f.label :twitter_username %>
    <%= f.text_field :twitter_username %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
