<%= form_for @user do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.label :status, 'Are you a developer?' %>
    <%= f.check_box :status, {}, 'developer' %>
  </div>

  <div>
    <%= f.label :github_url, 'GitHub URL' %>
    <%= f.text_field :github_url, placeholder: 'https://github.com/sagarpatel8384' %>
  </div>

  <div>
    <%= f.label :linked_in_url, 'LinkedIn URL' %>
    <%= f.text_field :linked_in_url, placeholder: 'https://www.linkedin.com/in/patelsagar' %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
