<%= form_for user do |f| %>
  <div>
    <%= f.text_field :name, placeholder: 'First & Last Name' %>
  </div>

  <div>
    <%= f.text_field :email, placeholder: 'Email' %>
  </div>

  <div>
    <%= f.password_field :password, placeholder: 'Password' %>
  </div>

  <div>
    <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %>
  </div>

  <div>
    <%= f.label :status, 'Are you a developer?' %>
    <%= f.check_box :status, {}, 'developer' %>
  </div>

  <div>
    <%= f.text_field :github_url, placeholder: 'GitHub Profile: https://github.com/username' %>
  </div>

  <div>
    <%= f.text_field :linked_in_url, placeholder: 'LinkedIn Profile: www.linkedin.com/in/username' %>
  </div>

  <div>
    <%= f.submit 'Sign Up' %>
  </div>
<% end %>
